/* общие стили страниц */


main {
    /* применение функции calc() и переменной CSS */
    min-height: 70vh;
}

/* глобальные переменные */
:root {
    /* переменная или пользовательский стиль
      --имя-переменно   -бе-пробелов: значениеПеременной;
    */
    --nav-height: 30px;
    --footer-height: 130px;

    --color-nav-footer: white;

    /* цвета блоков для верстки*/
    --bg-grey: #bcb0d4;
    --bg-yellow: #fefa01;
    --bg-blue: #0188e1;
    --bg-green: #009049;
    --bg-orange: #f57f01;
    --bg-raspberry: #f02f72;
    --bg-pink: #fb9d9b;    
}